{% extends "bootstrap/base.html" %}
{% block title %}Astropy Unit Conversion{% endblock %}

{% block content %}
<center>
<div class="container">
<div class="jumbotron">
      <h1>Astropy Unit Conversion</h1>
</div>
      <div>
            <form name="input" method='GET'>
                <div class="form-group">
                    <label for="input_value">Value</label>
                    <input type="text" name="_input_value" autocorrect="off" autocapitalize="off" class="form-control" id="input_value" placeholder="{{ _input_value }}" value="{{ _input_value }}">
                </div>
                <div class="form-group">
                    <label for="input_unit">Unit</label>
                    <input type="text" name="_input_unit"  autocorrect="off" autocapitalize="off" class="form-control" id="input_unit" placeholder="{{ _input_unit }}" value="{{ _input_unit }}">
                </div>
            </div>
                <div class="form-group">
                    <label for="output_unit">Output Unit</label>
                    <input type="text" name="_output_unit"  autocorrect="off" autocapitalize="off" class="form-control" id="output_unit" placeholder="{{ _output_unit }}" value="{{ _output_unit }}">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form><br>
            <h2>
                {{ _output_value }}
            </h2>
            </div>
    </div>
</div>
</center>
{%- endblock %}
