{% extends "bootstrap/base.html" %}
{% block styles %}
{{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='custom.css')}}">
{% endblock %}

{% block title %}Astropy Unit Conversion{% endblock %}


{% block content %}
<center>
<div class="container">
<div class="jumbotron">
      <h1>Unit Convertr</h1>
</div>
      <div>
            <form name="input" method='GET'>
                <div class="form-group">
                    <label for="input_value">Value</label>
                    <input type="text" name="_input_value" autocorrect="off" autocapitalize="off" class="form-control" id="input_value" placeholder="{{ _input_value }}" value="{{ _input_value }}">
                </div>
                <div class="form-group">
                    <label for="input_unit">Unit</label>
                    <input type="text" name="_input_unit"  autocorrect="off" autocapitalize="off" class="form-control" id="input_unit" placeholder="{{ _input_unit }}" value="{{ _input_unit }}">
                </div>
                <div class="form-group">
                    <label for="output_unit">Output Unit</label>
                    <input type="text" name="_output_unit"  autocorrect="off" autocapitalize="off" class="form-control" id="output_unit" placeholder="{{ _output_unit }}" value="{{ _output_unit }}">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form><br>
            <div class="well">
            <p>
                {{ _output_value }}
            </p>
            </div>
    </div>
    <footer class="footer">
        <p>Powered <a href="http://www.astropy.org/">Astropy</a></p>
    </footer>
</div><!-- /container -->
</center>
{%- endblock %}
