<!doctype html>
<html lang="en">
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />

    <title>Astropy Unit Conversion</title>

  </head>
  <body>
      <center>
            <form name="input" method='GET'>
                From:
                <input type="text" name="_input_value" value="{{ _input_value }}"><br>
                <input type="text" name="_input_unit" value="{{ _input_unit }}"><br>
                <input type="text" name="_output_unit" value="{{ _output_unit }}"><br>
                <br>
                <button type="submit">Submit</button>
            </form>
            <p>
                {{ _output_value }}
            </p>
        </center>
    <br>
  </body>
</html>
